
#adwrap{
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    height: 40vh;
    background-color: white;
    width: 60vw;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: solid 4px red;
    border-left: solid 4px red;
    border-right: solid 4px red;
    border-bottom: solid 4px red;

    text-align: center;

    overflow: auto;
}

#adwrap > .right {
    display: flex;
    margin: 1rem 3rem;
}

.heading{
    margin: 0.5rem;
}

.btn-new {
    color: white;
    /* max-height: 60%; */
    background-color: #e51636;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem 4rem;

}

.btn-new:hover {
    background-color: #940e23;
    border: none;
    font-size: 1.2rem;

}

.big {
    padding: 2rem;
}