
/*BUTTONS*/
.btn-wrap {
    height: calc(100vh - 5rem);
}
.btn-cashier {
    display: block;
    padding: 1rem 2rem;
    margin: 1rem;

    color: #fff;
    background-color: #e51636;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.btn-img-cashier {
    max-width: 4rem;
    max-height: 4rem;
}

.btn-cashier:hover {
    background-color: #940e23;
    cursor: pointer;
}

/*TABS*/
.btn-header-cashier {
    border: none;
    background-color: white;
    margin: 1rem 3rem;
    color: #e51636;
}

.btn-header-cashier:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-header-row-cashier {
    display: flex;
    justify-content: center;
}

.button-row-cashier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*PRICE DISPLAY*/
.edit-row-cashier {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;

    width: 35%;
    height: 10%;

    border-top: solid 4px red;
    border-left: solid 4px red;
    border-top-left-radius: 1rem;

    background-color: white;

}

.edit-row-cashier > .price-cashier {
    text-align: start;
    margin: 0 1rem;
    width: 10rem;
}

.edit-button-cashier {
    color: white;
    background-color: #e51636;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: .5rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.edit-button-cashier:hover {
    cursor: pointer;
    background-color: #940e23;
}

