.btn-cashier {
    display: block;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 10rem;
    height: 7rem;
    color: #fff;
    background-color: #e51636;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-img-cashier {
    max-width: 4rem;
    max-height: 4rem;
}

.btn-cashier:hover {
    background-color: #940e23;
}

.button-row-cashier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popup {
    position: fixed;
    bottom: 0;
    left: 10%;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
}

.complete {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
}

.new {
    position: fixed;
    bottom: 0;
    left: 45%;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
}
.price {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: red;
    color: white;
}

.cur_item_wrap {
    background-color: #e0e0e0;
}
.cur_item_display {
    display: block;
    margin: auto;
}
