
.c1 {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.button-row-customer {
    height: 400px;
    padding: 10px;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}
.items-customer {
    padding: 0;
    margin: 0;
    flex: 0 0 auto;
    width: 300px;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s;
    /* -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999; */
}

.items-customer:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.btn-holder-customer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.item-image-customer {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.items-customer h1 {
    font-size: 20px;
    text-align: center;
}

.subtext-customer {
    font-size: 18px;
}
.add-button-customer {
    margin: 0.8vw !important;
    padding: 0.8vw !important;

    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border-width: 1px;

    border: none;
}
.add-button-customer:hover {
    background-color: #e51636;
    color: white;
    border-radius: 2rem !important;
    transition: all 0.2s ease;
    cursor: pointer;
}
.add-button-customer::after {
    content: "Add";
}
.add-button-customer:hover::after {
    content: "+";
    font-size: 1em;
    transform: scale(1.5);
    padding: .3rem;
    transition: all;
}

.edit-row-cashier {
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 3rem;
    bottom: 0;
    right: 0;
}

/*DISPLAY*/
.edit-row-customer {
    position: fixed;
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-size: 3rem;
    bottom: 0;
    right: 0;

    width: 35rem;
    height: 10%;

    border-top: solid 4px red;
    border-left: solid 4px red;
    border-top-left-radius: 1rem;

    box-shadow: -5px 0 5px rgba(0, 0, 0, .2);


    background-color: white;
}

.edit-row-customer > .price-customer {
    text-align: start;
    margin: 0 1rem;
    width: 10rem;
}

.edit-button-customer {
    color: white;
    background-color: #e51636;
    border: none;
    font-size: 1.5rem;
    padding: 1.2rem 2.5rem;
    margin: 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.edit-button-customer:hover {
    cursor: pointer;
    background-color: #940e23;
}
.new-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.btn-new {
    padding:1.5vw;
    border:none;
    border-radius: 10%;
    margin: 1vw;
}
.btn-new:hover {
    padding:1.5vw;
    border:none;
    border-radius: 10%;
    margin: 1vw;
    color: white; 
    background-color: #e51636;
    transition: background-color 0.3s ease;


}
