#menuadder2 {
    margin:0px;
    margin-left: 70vh;
    margin-top: 35vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
  }
  
  #menuadder2 h3 {
    margin-top: 0;
  }
  
  #menuadder-form2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  #menuadder-form2 label {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  #menuadder-form2 input[type="text"],
  #menuadder-form2 input[type="number"] {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
    max-width: 300px;
  }
  
  #menuadder-form2 button[type="button"] {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(240, 46, 46);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder-form2 button[type="button"]:hover {
    background-color: rgb(249, 3, 3);
  }
  
  #menuadder-form2 ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  #menuadder-form2 li {
    margin-bottom: 5px;
  }
  
  #menuadder-form2 button[type="button"].done-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder-form2 button[type="button"].done-button:hover {
    background-color: rgb(231, 74, 74);
  }




  #menuadder3 {
    margin:0px;
    margin-left: 70vh;
    margin-top: 10vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
  }
  
  #menuadder3 h3 {
    margin-top: 0;
  }
  
  #menuadder3-form1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  #menuadder3-form1 label {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  #menuadder3-form1 input[type="text"],
  #menuadder3-form1 input[type="number"] {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
    max-width: 300px;
  }
  
  #menuadder3-form1 button[type="button"] {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(240, 46, 46);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder3-form1 button[type="button"]:hover {
    background-color: rgb(249, 3, 3);
  }
  
  #menuadder3-form1 ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  #menuadder3-form1 li {
    margin-bottom: 5px;
  }
  
  #menuadder3-form1 button[type="button"].done-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder3-form1 button[type="button"].done-button:hover {
    background-color: rgb(231, 74, 74);
  }





  #menuadder4 {
    margin:0px;
    margin-left: 70vh;
    margin-top: 60vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width:37vw;
    position: absolute;
  }
  
  #menuadder4 h3 {
    margin-top: 0;
  }
  
  #menuadder4-form1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  #menuadder4-form1 label {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  #menuadder4-form1 input[type="text"],
  #menuadder4-form1 input[type="number"] {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
    max-width: 300px;
  }
  
  #menuadder4-form1 button[type="button"] {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(240, 46, 46);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder4-form1 button[type="button"]:hover {
    background-color: rgb(249, 3, 3);
  }
  
  #menuadder4-form1 ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  #menuadder4-form1 li {
    margin-bottom: 5px;
  }
  
  #menuadder4-form1 button[type="button"].done-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #menuadder4-form1 button[type="button"].done-button:hover {
    background-color: rgb(231, 74, 74);
  }