.wrapper-home {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 25rem;
    width: 40rem;
    background-color: #e51636;
    color: white;
    border-radius: 1rem;
    box-shadow: 1rem;

    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);

    font-size: 2em;


}

.backdrop-img-home {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}

#signInDiv {
    display: block;
    border: none;
}


/* Scroll bar stuff */
::-webkit-scrollbar {
    width: 12px;
    height: 98%;
    border-radius:1rem;
  }
 /* Track */
 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 98%;
 
    border-radius:1rem;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a2a2a2; 
    /* border-radius:1rem; */

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #940e23; 
    /* border-radius:1rem; */

  }
