.button-row-1 {
    display: flex;
    flex: 50%;
    justify-content: space-around;
    padding: 1vw;
}
.button-row-2 {
    flex: 50%;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}
.m-btn {
    padding: 1vw;
}

.prompt-orders {
    display: flex;
    
}