/*POPUP*/

.cur-item-wrap {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100vh - 5rem);
    width: 30%;
    background-color: white;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top: solid 4px red;
    border-left: solid 4px red;
    border-bottom: solid 4px red;

    text-align: center;
}

.cur-item-wrap > div {
    text-align: start;
    margin: 0 2rem;
    font-size: 1.8em;
}

.cur-item-wrap > h1 {
    padding: 2rem;
}

.cur-item-display {
    display: block;
    margin: auto;
}

.cur-item-display > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cur-item-display > div > button {
    padding: 0 1rem;
    max-height: 2rem;
    font-size: 2rem;
    background-color: #e51636;
    color: white;
    border: none;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
}

.cur-item-display > div > button:hover {
    cursor: pointer;
    background-color: #940e23;
}
